{% extends 'layouts/app.html' %} {% block content %}
<div>
  <h1>This is a About us Page we can add about yourself !!</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident harum
    ducimus beatae esse asperiores. Ducimus autem deleniti nisi ullam
    reprehenderit officia quod expedita quisquam, voluptatem debitis eum,
    tempora mollitia quae! Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Quaerat corporis exercitationem ratione? Deleniti cupiditate,
    perferendis vero facere, fugiat odit et quod inventore sequi quo ab dolorem
    natus atque vel adipisci?
  </p>
</div>

{% endblock %}
